<div class='vote block center'>
  <% if user_voted?(current_user) %>
    <%= link_to "POP IT", update_kern_path(review_id: review.id, id: get_pop(review), type: 'upvote'), html: {name: 'upvote', class: 'upvote'}, method: :patch %><br>
    <span class='count'><%= review.pops.sum(:popped) %></span><br>
    <%= link_to "KERNZ", update_kern_path(review_id: review.id, id: get_pop(review), type: 'downvote'), html: {name: 'downvote', class: 'downvote'}, method: :patch %><br>
  <% else %>
    <%= link_to "POP IT", kernz_path(review_id: review.id, type: 'upvote'), html: {name: 'upvote', class: 'upvote new_pop vote'}, method: :post %><br>
    <span class='count'><%= review.pops.sum(:popped) %></span><br>
    <%= link_to "KERNZ", kernz_path(review_id: review.id, type: 'downvote'), html: {name: 'downvote', class: 'downvote new_pop vote'}, method: :post %><br>
  <% end %>
</div>

<div class='review block'>
  <%user=User.find(review.user_id)%>
  <h5 class='noMargin'><%=user.username%> rated this film a: <%=review.rating%> </h5>
  <%= "TRUSTED USER" if user.trusted%>
  <div class='comment-pad'><%=review.body%></div>
  <div class='buttons-pad'><%=link_to "#{review.comments.length} comments", review_comments_path(review) %>
  <%=link_to "delete", review_path(review), method: :delete, class: 'btn' %></div>
</div>
