<div class='row'>
  <div class='col s6'><img class='movie-summary' src="<%=@movie.poster%>"></div>
  <div><%=@movie.title%></div>
  <div><%=@movie.plot%></div>
  <div><%=link_to "#{@movie.comments.length} comments", movie_comments_path(@movie) %></div>
  <div><%=link_to "Comment on this Movie", new_movie_comment_path(@movie)%></div>
</div>

<div>
  <%= form_for :review, url: reviews_path do |f| %>
    <div class='row'>
      <%= f.label :body, class: 's12' %>
      <%= f.text_area :body, class: 'review_form_body s5' %>
    </div>
    <div class='row'>
      <%= f.label  :rating, 'Rating:', class: 'col s1' %>
      <%= f.range_field :rating, {in: 1..5, step: 1, class: 'col s3'} %>
    </div>

    <%= f.submit 'submit', class: 'btn' %>
  <% end %>


  <ul>
  <%if @movie.reviews.length == 0%>
    <p>No reviews for this movie!</p>
  <%else%>
    <%@movie.reviews.each do |review|%>
       <li><%=render partial: 'review_partial', locals:{review: review} %></li>
    <%end%>
  <%end%>
  </ul>
</div>


