<div class='row left-align'>
  <div class='col s6'><img class='movie-summary' src="<%=@movie.poster%>"></div>
  <div><h5><%=@movie.title%></h5></div>
	<hr>
  <div>
		<strong>Plot</strong>
		<p><%=@movie.plot%></p>
	</div>
	<hr>
  <div><%=link_to "#{@movie.comments.length} comments", movie_comments_path(@movie) %></div>
  <div><%=link_to "Comment on this Movie", new_movie_comment_path(@movie)%></div>
</div>

<div class='left-align'>
	<% if current_user %>
    <% if !user_reviewed?(@movie.id) %>
  	  <%= form_for :review, url: reviews_path, html: {id: :new_review_form}, remote: true do |f| %>
  	    <div class='row'>
  	      <%= f.label :body, class: 's12' %>
  	      <%= f.text_area :body, placeholder: 'Write a review', class: 'review_form_body s5' %>
  	    </div>
  	    <div class='row'>
  	      <%= f.label :rating, 'Rating:', class: 'col s1' %>
  	      <%= f.range_field :rating, {in: 1..5, step: 1, class: 'col s3'} %>
  	    </div>

  	    <input type="hidden" name="movie_id" value="<%= @movie.id %>">
  	    <%= f.submit 'submit', class: 'btn' %>
  	  <% end %>
    <% end %>
	<% end %>

  <ul class='reviews_section'>
  <%if @movie.reviews.length > 0%>
    <% @movie.reviews.each do |review| %>
       <li><%=render partial: 'review_partial', locals:{review: review, movie: @movie} %></li>
    <%end%>
  <%end%>
  </ul>
</div>


