<!DOCTYPE html>
<html>
<head>
  <title>MovieZoo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <% if current_user -%>
      <%= link_to 'logout', logout_path, method: :delete %>
    <% else %>
      <%= link_to 'login', login_page_path %>
      <%= link_to 'create account', new_user_path %>
    <% end %>
  </header>

<%= yield %>

</body>
</html>
