<div class="row"><div class="col s6">
  <%= form_for :user, url: login_path do |f| %>
    <p><%= f.label :username %></p>
    <p><%= f.text_field :username %></p>

    <p><%= f.label :password %></p>
    <p><%= f.password_field :password %></p>

    <p><%= f.submit 'submit' %></p>
  <% end %>
</div>
